#cartContainer {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.item-code-cell {
    display: flex;      /* Enables Flexbox */
    justify-content: space-between; /* Aligns children (item code and button) with space between */
    align-items: center; /* Centers children vertically in the cell */
    padding-right: 10px; /* Adds some padding to prevent the button from sticking to the edge */
}

.btn-remove {
    color: #c41616; /* Red icon color */
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #c41616;
    background: none; /* Transparent background */
    cursor: pointer; /* Pointer cursor on hover */
}

.cart-item {
    margin-bottom: 10px;
}

h1 {
    margin-left: 20px;
    margin-top: 50px;
    font-family: Georgia, serif;
}

/* Table styles */
table {
    width: 70%; /* Sets the width of the table to 80% of its container */
    margin: 20px auto; /* Centers the table horizontally */
    margin-top: 70px;
    border-collapse: collapse; /* Collapses borders between table cells */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds shadow under the table */
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    font-size: 1.2rem;
}

th, td {
    text-align: left; /* Aligns text to the left */
    border-left: 1px solid #9b5cb3; 
    border-right: 1px solid #9b5cb3;
}

td {
    padding: 20px;
}

th:first-child, td:first-child {
    border-left: none; /* Removes border from the leftmost cells */
}

th:last-child, td:last-child {
    border-right: none; /* Ensures no double border on the rightmost edge */
}

tr th, tr td {
    border-top: none; /* No horizontal borders on top of cells */
    border-bottom: none; /* No horizontal borders on bottom of cells */
}

th {
    color: #9b5cb3; /* White text color for headers */
    font-family: 'Times New Roman', serif;
    font-size: 1.75rem;
    padding: 15px;
}

thead th {
    border-bottom: 2px solid #9b5cb3;
}

tr:hover {
    background-color: #ddd; /* Light grey background on row hover */
}

#totalRow {
    font-size: 1.5rem;
    background-color: #d4a9d8;
    color: white;
}

.actions {
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}

.actions button {
    cursor: pointer;
    margin-bottom: 1em;
    border: none;
    border-bottom: 5px solid #824d78;
    border-radius: 0.5em;
    background-color: #b66ea9;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    width: 170px;
}

/* Optional: Add hover effect for buttons */
.actions button:hover {
    background-color: #d485c6;
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
    table {
        width: 100%; /* Full-width on smaller screens */
    }
}