body, html {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #936b97;
    color: white;
    text-align: center;
}

.topnav {
    background-color: #936b97;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
    
    /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    font-family: Georgia, serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
}
    
.topnav a:hover {
    background-color: #eee4ef;
    color: #715274;
}
    
    /* Add a color to the active/current link */
.topnav a.active {
    background-color: #a884ac;
    color: white;
}

.content {
    display: none;
    padding: 20px;
    margin-top: 5px;
}

.content.active {
    display: block;
}

h1 {
    font-size: 1.95rem;
}

.order {
    margin: 50px auto;
    width: 80%;  
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-metadata, .order-items {
    width: 40%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accept-btn {
    cursor: pointer;
    height: 20%;
    width: 50%;
    padding: 0.6em;
    border: none;
    border-bottom: 2px solid #824d78;
    border-radius: 0.5em;
    background-color: #b66ea9;
    color: white;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    text-align: center;
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will vertically center the button in the div */
    align-items: center; /* This will horizontally center the button in the div, if needed */
    width: 40%;
}

ul {
    line-height: 2.0;
}