body {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-left: 20px;
  margin-top: 50px;
  font-family: Georgia, serif;
}

h2 {
  margin-left: 20px;
  margin-top: 50px;
  font-family: Georgia, serif;
}

h4 {
  margin-left: 20px;
  font-family: 'Times New Roman', serif;
  font-size: 1.2rem;
}

.menu-section {
  overflow-x: auto;
  white-space: nowrap;
  background-color: #dcc4df;
  display: flex;
}

.menu-section .arrow {
  position: absolute;
  cursor: pointer;
  height: 390px;
  background-color: #d4a9d8;
  border-color: #d4a9d8;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-section .left-arrow {
  left: 0;
}

.menu-section .right-arrow {
  right: 0;
}

.arrow2 {
  left: 0;
  position: absolute;
  cursor: pointer;
  height: 390px;
  background-color: #d4a9d8;
  border-color: #d4a9d8;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.arrow3 {
  right: 0;
  position: absolute;
  cursor: pointer;
  height: 390px;
  background-color: #d4a9d8;
  border-color: #d4a9d8;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-container {
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.menu-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.menu-item {
  display: inline-block;
  margin: 10px;
  text-align: center;
  border: 1px solid #9b5cb3; 
  padding: 15px;
  border-radius: 10px; 
  background-color: #f9f9f9; 
  width: 250px;
}

.menu-item img {
  width: 200px; 
  height: auto;
  border-radius: 5px;
}

.topnav {
  background-color: #936b97;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: Georgia, serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
}
  
.topnav a:hover {
  background-color: #eee4ef;
  color: #715274;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
  background-color: #a884ac;
  color: white;
}

.view-cart-btn {
  cursor: pointer;
  width: 20%;
  padding: 1em;
  margin-bottom: 1em;
  border: none;
  border-bottom: 5px solid #824d78;
  border-radius: 0.5em;
  background-color: #b66ea9;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}

.view-cart-btn:hover {
  background-color: #d485c6;
}
