.menu-section {
    overflow-x: auto;
    white-space: nowrap;
}

.menu-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border: 1px solid #cccccc; 
    padding: 15px;
    border-radius: 10px; 
    background-color: #f9f9f9; 
}

.menu-item img {
    width: 300px; 
    height: auto;
    border-radius: 5px;
}

.topnav {
    background-color: #936b97;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    font-family: Georgia, serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 10%;
  }
  
  .topnav a:hover {
    background-color: #eee4ef;
    color: #715274;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #a884ac;
    color: white;
  }
  
/* Add your other styles here */
