body {
  margin: 0;
  padding: 0;
  background-color: #56355a;
}

.main-body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  font-family: Georgia, serif;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  overflow-y: hidden; 
}

main {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 80px;
  font-size: 2.4rem;
  color: white;
  font-family: Georgia, serif;
}

.coverpic {
  margin-top: 0;
  background-image: url('coverpic.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}

.topnav {
  background-color: #936b97;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
  
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  font-family: Georgia, serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
}
  
.topnav a:hover {
  background-color: #eee4ef;
  color: #715274;
}
  
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #a884ac;
  color: white;
}

@media (max-width: 600px) {
  .banner {
      padding: 20px 10px;
      font-size: 18px;
  }
}